.imager {
    float:left;
}
.imager :hover {
    filter: alpha(opacity=70); /*For IE*/
    opacity: 0.7; /*Opera・Safari*/
    -moz-opacity: 0.7; /*For FireFox*/
}
.imager > div {
    width: 200px;
    height: 200px;
    float: left;
    border-style: solid;
    border-color: #fff;
}
.side_component {
    color:#ddd;
    margin-bottom:20px;
    margin-left:10px;
}
.side_title {
    font-size: 14px;
    font-weight:bold;
    margin-bottom:5px;
}
.side_feed {
    border-bottom:1px solid #777;
    padding:5px 0;
    color:#ccc;
}
.side_feed :hover {
    background-color: #333;
    color:#fff;
}
.side_feed img {
    background-color: #fff;
    color:#fff;
}
.feed {
    border-bottom:1px solid #777;
    padding:5px 0;
    color:#ccc;
}
.feed :hover {
    background-color: #333;
    color:#fff;
}
.feed img {
    background-color: #fff;
    color:#fff;
}
#loadNext > div {
    clear:left;
    width:100%;
    height:30px;
    background-color:#333;
    text-align:center;
    padding-top:10px;
}
#loadNext :hover {
    background-color:#444;
}
#loadNext :active {
    background-color:#333;
}
#picContainer {
    width:728px;
    position:relative;
}
#mainPic {
    width:728px;
}
#rightSidebar {
    width:180px;
    position:fixed;
    right:20px;
    top:50px;
    text-align:right;
}
#effect_desc {
    float:left;
    margin-left:5px;
    height:50px;
    width:663px;

}
#leftSidebar {
    position:absolute;
    top:50px;
    left:10px;
    width:220px;
}
#mainFrame {
    position:absolute;
    top:50px;
    left:250px;
}
#wide_top_ad {
    height:90px; 
    padding-bottom:10px;
}
.mobileOnly {
    display:none;
}
#downloadBtn {
    margin:15px 0;
}
#playBtn {
    margin:15px 0;
}
#coverPic {
    position:absolute;
    top:0px;
    left:0px;
    width:728px;
}
#bgPic {
    width:728px;
}
#finishBtn {
    margin:5px;
}
#saveBtn {
    margin:5px;
}
#sampleDesc {
    margin:10px 0;
}
#brashContainer { 
    margin-top:30px;
    color:#fff;
}
#brashLbl {
    text-align:right; 
    font-size:18px; 
    margin-bottom:10px;
}
#brashCircles {
    width:100%;
}
.brashCircle {
    clear:right;
    float:right;
}
#searchResultFeeds {
    float:left; 
    width:780px;
}
#feedTitle{
    float:left;
    margin-left:5px;
    height:50px;
    width:710px;
}
