.side_component {
    color:#ddd;
    margin-bottom:20px;
}
.side_title {
    font-size: 14px;
    font-weight:bold;
    margin-bottom:5px;
}
.side_feed {
    border-bottom:1px solid #777;
    padding:5px 0;
    color:#ccc;
}
.side_feed :hover {
    background-color: #333;
    color:#fff;
}
.side_feed img {
    background-color: #fff;
    color:#fff;
}
.main_image :hover {
    filter: alpha(opacity=70); /*For IE*/
    opacity: 0.7; /*Operaãƒ»Safari*/
    -moz-opacity: 0.7; /*For FireFox*/
}
.feed {
    border-bottom:1px solid #777;
    padding:5px 0;
    color:#ccc;
}
.feed :hover {
    background-color: #333;
    color:#fff;
}
.feed img {
    background-color: #fff;
    color:#fff;
}
#loadNext {
    clear:left;
    width:100%;
    height:30px;
    background-color:#333;
    text-align:center;
    padding-top:10px;
}
#loadNext :hover {
    background-color:#444;
}
#loadNext :active {
    background-color:#333;
}
