{% extends "base.html" %}
{% block title %}{{article.title}}{% endblock %}
{% block content %}
  {% if not article.is_adult() %}
    <!-- imagerous_v2_article_top -->
    <ins class="adsbygoogle ads-page-top"
      id="ads-article-top"
      data-ad-client="ca-pub-2363640980453937"
      data-ad-slot="2332600336"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  {% endif %}

  <section class="article-abst">
    <div class="abst-info">
      <img src="{{article.thumb}}">
      <h2>{{article.title}}</h2>
    </div>
    <div class="social-feed">
      <div class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button"
          data-text="{{article.title}} | Imagerous*"
          data-url="http://imagero.us/index.php?id={{article.id}}"
          data-lang="ja" data-hashtags="imagerous">ツイート</a>
      </div>
      <div class="like-btn">
        <div class="fb-like" data-href="http://imagero.us/nav/{{article.id}}"
          data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div>
      </div>
    </div>
  </section>

  <section id="article-items" data-article-id="{{article.id}}">
    {% include "article_items.html" %}
  </section>

  {% if not article.is_adult() %}
    <!-- imagerous_v2_article_bottom -->
    <ins class="adsbygoogle ads-page-bottom"
      id="ads-article-bottom"
      data-ad-client="ca-pub-2363640980453937"
      data-ad-slot="3809333530"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  {% endif %}

  <div class="seemore" onclick="articleManager.loadNext()">もっと見る</div>
{% endblock %}
