<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h1 class="brand">
        <a href="/">Imagerous*</a>
      </h1>
      <ul class="nav">
        <li>
        <a href="http://matome.naver.jp/odai/{{article.id}}" target="_blank">
          {% if article.thumb %}
          <img src="{{article.thumb}}" width="20">
          {% endif %}
          {{article.title}}
        </a>
        {% if page_type == "picture" %}
        <li><a href="/nav/{{article.id}}"> &nbsp;&nbsp; &lt;&lt;画像一覧に戻る</a>
        {% endif %}
      </ul>
      <div class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button"
          data-text="{{article.title}} | Imagerous*"
          data-url="http://imagero.us/index.php?id={{article.id}}"
          data-lang="ja" data-hashtags="imagerous">ツイート</a>
      </div>
      <div class="like-btn">
        <div class="fb-like" data-href="http://imagero.us/index.php?id={{article.id}}"
          data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div>
      </div>
    </div>
  </div>
</div>
