<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h1 class="brand">
        <a href="/">Imagerous*</a>
      </h1>
      {% if article %}
        <ul class="nav">
          <li>
          <a href="http://matome.naver.jp/odai/{{article.id}}" target="_blank">
            {% if article.thumb %}
              <img src="{{article.thumb}}" width="20">
            {% endif %}
            {{article.title}}
          </a>
          {% if picture %}
            <li><a href="/nav/{{article.id}}"> &nbsp;&nbsp; &lt;&lt;画像一覧に戻る</a>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>
