/* General Settings */
body {
  background: #222;
  color: #ddd;
}

h3 {
  font-size: 15px;
}

#content {
  position: relative;
}

#content img {
  max-width: 100%;
}

/* Sidebar Settings */
#sidebar {
  margin-top: 50px;
}

#search-input input {
  width: 79%;
}

#search-input .btn {
  margin-top: -9px;
  margin-left: -4px;
}

#credit {
  font-size: 11px;
  line-height: 12px;
  margin: 20px 0;
  text-align: center;
}

.seemore {
  background: #333;
  cursor: pointer;
  font-weight: bold;
  margin: 5px 0px 10px 0;
  padding: 20px;
  text-align: center;
}

.seemore:hover {
  background: #444;
}

/* Header Settings */

.navbar-inner .brand a {
  color: #ddd;
  text-decoration: none;
}

.navbar-inner .brand a:hover {
  color: #fff;
}

.navbar-inner .container {
  position: relative;
}

.navbar-inner .tweet-btn {
  display: none;
  position: absolute;
  right: 100px;
  top: 10px;
}

.navbar-inner .like-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 10px;
}

.navbar-inner .brand {
  float: none;
  text-align: center;
  margin: 0;
}

.navbar-inner .nav {
  display: none;
}

/* Article Settings */
.article-abst {
  overflow: hidden;
  margin-bottom: 20px;
}

.article-abst img {
  float: left;
  margin-right: 10px;
  width: 50px;
}

.article-abst h2 {
  font-size: 16px;
  line-height: 21px;
  overflow: auto;
}

.pic-tile {
  background-position: center;
  background-size: cover;
  border-color: #fff;
  border-style: solid;
  border-width: 0px;
  display: inline-block;
  height: 200px;
  width: 200px;
}

/* Article Feed Settings */
.article-feed {
  color: #ddd;
  cursor: pointer;
  margin: 10px 0;
  overflow: auto;
  padding: 5px;
}

.article-feed:hover {
  color: #fff;
  background: #333;
}

.article-feed-anchor:hover {
  text-decoration: none;
}

.article-feed .article-feed-thumb {
  clear: left;
  float: left;
  margin-right: 7px;
  width: 50px;
}

.article-feed .article-feed-thumb img {
  width: 100%;
}

.article-feed a {
  text-decoration: none;
}

.article-feed .article-feed-contents {
  overflow: auto;
}

.article-feed .article-feed-contents h4 {
  font-size: 13px;
  font-weight: normal;
}

/* Ads Settings */

#ads-article-top {
  display: inline-block;
  height: 90px;
  width: 100%;
}

#ads-article-bottom {
  display: inline-block;
  height: 90px;
  width: 100%;
}

#ads-sidebar-middle {
  display: inline-block;
  height: 300px;
  max-width: 320px;
  width: 100%;
}

#ads-picture-top {
  display: inline-block;
  height: 90px;
  width: 100%;
}

#ads-picture-bottom {
  display: inline-block;
  height: 90px;
  width: 100%;
}

@media screen and (min-width: 980px) {
  /* General Settings */
  #content {
    margin-top: 50px;
  }

  /* Header Settings */
  .navbar-inner .tweet-btn {
    display: block;
  }

  .navbar-inner .like-btn {
    display: block;
  }

  .navbar-inner .brand {
    float: left;
  }

  .navbar-inner .nav {
    display: inline;
  }

  /* Sidebar Settings */
  #sidebar {
    left: 0;
    padding: 10px;
    position: absolute;
    width: 300px;
  }

  #content {
    left: 350px;
    position: absolute;
  }

  /* Article Settings */
  .article-abst {
    display: none;
  }

  /* Ads Settings */

  #ads-article-top {
    width: 728px;
  }

  #ads-article-bottom {
    width: 728px;
  }

  #ads-sidebar-middle {
    height: 600px;
  }

  #ads-picture-top {
    width: 728px;
  }

  #ads-picture-bottom {
    width: 728px;
  }

}
